_site/
Gemfile.lock
_talks/
_portfolio/
_publications/
_teaching/
_posts/
_pages/collection-archive.html
_pages/publications.md
_pages/teaching.html
_pages/non-menu-page.md
_pages/tag-archive.html
_pages/year-archive.html
_pages/page-archive.html
_pages/category-archive.html
_pages/talkmap.html
_pages/portfolio.html
_pages/talks.html
